@charset "UTF-8";

/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul,
li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

body {
    margin: 0px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0px auto;
    min-width: 280px;
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1300px) {
    .container {
        max-width: 1300px;
    }
}